
<!--
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/img/camisa.jpeg" alt="Imagem de capa do card">
</div>
-->

{{#each erros}}
<div class="alert alert-danger"> {{texto}}</div>
{{else}}

{{/each}}

<div class="card h-50 d-inline-block">
    <div class="card-header">
        <h5>Dados Pedido: </h5>
    </div>
    <div class="card-body">
        <form action="/pedidos/edit" method="POST">
         <input type="hidden" name="id" value="{{pedido._id}}"> 
            
            <div class="form-row">
                <div class="col">
                    <label for="nome">Nome:</label>
                    <input type="text" name="nome" class="form-control " value="{{pedido.nome}}" >
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="tamanho">Tamanho:</label>
                        <select name="tamanho" id="tamanho" class="form-control" >
                            <option selected>{{pedido.tamanho}} </option>
                            <option>P</option>
                            <option>M</option>
                            <option>G</option>
                            <option>GG</option>
                            <option>XGG</option>
                        </select>
                    </div>
                </div>

                <div class="col">
                    <label for="familia">Familia</label>
                    
                    <select name="familias" id="familias" class="custom-select"  >
                        <option value="{{familias.familia}}">{{familias.nome}}</option>
                        
                        {{#each familias}}
                            <option value="{{familias.nome}}">{{familias.nome}}</option>
                        {{else}}
                            <option value="0">Nenhuma Familia registrada</option>
                        {{/each}}
                    </select>

                </div>

            </div>
            <button class="btn btn-success mt-4" type="submit">Gravar Pedido</button>
        </form>
    </div>

</div>